.statBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    &:is(:not(:first-child)) {
        margin-top: 4rem;
    }
}