.header {
    display: flex;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        margin: 2rem;
    }

    .nav {
        display: none;
        margin: 2rem;

        ul {
            display: flex;
            gap: 2rem;

            li {
                list-style: none;
            }
        }

        @media (min-width: 768px) {
            display: block;
        }
    }
}