@use '../../../styles/utils/variables' as *;

.circleText {
    color: white;
    width: 10rem;
    overflow: visible;
    // mix-blend-mode: difference;
    font-family: $font-primary, serif;

    .centerText {
        font-size: 4rem;
        transform: translateY(-0.3rem);
    }

    // @media (max-width: 1100px) {
    //     position: absolute;
    //     top: 0;
    //     right: 20%;
    //     transform: translateX(50%);



    //     svg #circlePath,
    //     svg #outerCirclePath {
    //         mix-blend-mode: difference;
    //     }

    // }
}